/*__________________ASIDE MENU__________________*/




.menu{
  display: flex;
  align-items: center;
  @media (min-width: 1024px){
    flex-direction: column;
    padding: 50px 0;
    height: 100%;
    border-right: 1px solid #EBEBEB;
    border-radius: 14px 0 0 14px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
  }
  flex-direction: row;
  justify-content: space-between;
  height: 98px;
  @media (max-width:768px) {
    height: 60px;
  }
  background-color: #282C31;
  background-repeat: no-repeat;
}

.menu__logo{
  display: block;
  margin: 0 12px;
  width: 50px;
  height: 35px;
}

.menu__navigation{
  display: flex;
  @media (min-width: 1024px) {
    flex-direction: column;
  }
  align-items: center;
  justify-content: space-between;
}

.menu__navigation > a img{
  display: block;
  width: 25px;
  height: 25px;
  margin: 0;
}

.menu__icon{
  color: #DFE6F1;
  font-size: 25px;
  text-decoration: none;
  @media (min-width: 1024px) {
    margin: 12px 0;
  }
  margin: 0 12px;
}

.act{
  color:#7F7FD5;
}

.menu__icon:hover{
  color:#7F7FD5;
}


.menu-btn{
  display: none;
}

.menu .menu-btn:checked ~ .menu__navigation{

  @media (max-width: 768px){
    display: flex;
    width: 100%;
    max-height: 240px;
    position: absolute;
    top: 50px;
    padding: 15px 0;
    z-index: 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;

  }
}


@media (max-width: 768px) {
  .menu__navigation{
    display: none;
  }
  .toggle{
    display: none;
  }
}


@media (max-width:768px) {
  .menu{
    position: relative;
    width: 100%;
    z-index: 3;
  }

}
