/*__________________PAGE BACKGROUND__________________*/

.body-background{
  background: url("../../img/union-background_pt1.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  padding: 50px 160px;
}

/*work-in-process*/
