@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Regular.woff"),
        url("../../fonts/Gilroy-Regular.woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
