/*__________________TOGGLE__________________*/
/*__________________PART OF ASIDE MENU__________________*/


@media (min-width: 1024px) {
  .toggle{
    margin: 0 12px;
  }
}

.toggle__input {
  display: none;
}

.toggle__mark {
  position: relative;
  display: block;
  margin: 0 12px;
  width: 60px;
  height: 30px;
  background: #FDFDFF;
  @media (max-width: 992px){
    background: #4F4F4F;
  }
  border: 0.5px solid #4F4F4F;
  border-radius: 50px;
  transition: all 1s ease;
}

.toggle__mark::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-color: #7F7FD5;
  background-image: url("../../img/toggle-moon.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50%;
  border-radius: 50%;
  transition: all 1s ease;
}

.toggle__input:checked + .toggle__mark {
  background-color: #7F7FD5;
  border-color: #7F7FD5;
}

.toggle__input:checked + .toggle__mark::before {
  left: calc(100% - 26px);
  background-image: none;
  border: 5px solid #FFFFFF;
}
